<h5>
    Mười hai điều trên <br>
    Ai chả làm được,<br>
    Hễ người yêu nước,<br>
    Nhất quyết không quên.<br>
    Tập thành thói quen,<br>
    Muôn người như một.<br>
    Quân tốt dân tốt,<br>
    Muôn sự đều nên.<br>
    Gốc có vững, cây mới bền,<br>
    Xây lầu thắng lợi trên nền nhân dân.<br></h5>